In [87]:
:x8 min packet then it is dBm x 300. 

Otherwise it is a detail packet and is dBm x 20

https://stackoverflow.com/questions/67420811/a-new-column-in-pandas-which-value-depends-on-other-columns

SyntaxError: invalid syntax (<ipython-input-87-786b441f98ef>, line 1)

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
wspr = pd.read_csv('cleaned.csv')
wspr.shape

(3934, 25)

In [3]:
wspr.drop_duplicates(subset ="time", keep = False, inplace = True)
wspr.shape

(270, 25)

In [4]:
wspr

,id,time,band,rx_sign,rx_lat,rx_lon,rx_loc,tx_sign,tx_lat,tx_lon,...,power,snr,drift,version,code,date,time.1,power_watts,altitude_m,altitude_ft
7,3728850598,2021-12-22 18:18:00,10,W9XA,41.854,-88.292,EN51uu,KD9ORR,41.479,-87.042,...,10,-21,0,1.3 Kiwi,1,2021-12-22,18:18:00,3000,9840,NaN
124,3728941170,2021-12-22 18:58:00,10,WA3TTS,40.563,-80.042,EN90xn,KD9ORR,41.688,-86.792,...,17,-27,0,2.5.0,1,2021-12-22,18:58:00,5100,16728,NaN
125,3728945792,2021-12-22 19:00:00,10,KX4O,38.646,-77.792,FM18cp,KD9ORR,41.563,-86.625,...,37,-26,0,WD_2.10k,1,2021-12-22,19:00:00,740,2427,NaN
262,3729090939,2021-12-22 20:08:00,10,KM4BLG/SWL,35.521,-82.625,EM85qm,KD9ORR,40.479,-85.042,...,23,-24,0,2.4.0,1,2021-12-22,20:08:00,6900,22632,NaN
353,3731368467,2021-12-23 12:38:00,10,W3PM,34.729,-86.792,EM64or,KD9ORR,36.479,-73.042,...,23,-26,1,WD_2.10k,1,2021-12-23,12:38:00,6900,22632,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3917,3783680199,2022-01-07 21:40:00,14,VK1FOC/4,-27.104,152.792,QG62jv,KD9ORR,9.896,166.792,...,53,-19,-2,NaN,1,2022-01-07,21:40:00,1060,3477,NaN
3920,3783731326,2022-01-07 22:00:00,14,VK1FOC/4,-27.104,152.792,QG62jv,KD9ORR,9.938,166.708,...,53,-13,1,NaN,1,2022-01-07,22:00:00,1060,3477,NaN
3923,3783777812,2022-01-07 22:20:00,14,VK1FOC/4,-27.104,152.792,QG62jv,KD9ORR,9.938,166.708,...,50,-22,0,NaN,1,2022-01-07,22:20:00,1000,3280,NaN
3926,3783865311,2022-01-07 22:58:00,14,VK1FOC/4,-27.104,152.792,QG62jv,KD9ORR,10.479,166.958,...,23,-15,-2,NaN,1,2022-01-07,22:58:00,6900,22632,NaN
3933,3783953642,2022-01-07 23:40:00,14,VK1FOC/4,-27.104,152.792,QG62jv,KD9ORR,10.063,166.542,...,53,-21,0,NaN,1,2022-01-07,23:40:00,1060,3477,NaN

In [5]:

#df['col'] = df['col'].str.slice(0, 9)
wspr['type'] = wspr['time.1'].str[4]

In [6]:
wspr

,id,time,band,rx_sign,rx_lat,rx_lon,rx_loc,tx_sign,tx_lat,tx_lon,...,snr,drift,version,code,date,time.1,power_watts,altitude_m,altitude_ft,type
7,3728850598,2021-12-22 18:18:00,10,W9XA,41.854,-88.292,EN51uu,KD9ORR,41.479,-87.042,...,-21,0,1.3 Kiwi,1,2021-12-22,18:18:00,3000,9840,NaN,8
124,3728941170,2021-12-22 18:58:00,10,WA3TTS,40.563,-80.042,EN90xn,KD9ORR,41.688,-86.792,...,-27,0,2.5.0,1,2021-12-22,18:58:00,5100,16728,NaN,8
125,3728945792,2021-12-22 19:00:00,10,KX4O,38.646,-77.792,FM18cp,KD9ORR,41.563,-86.625,...,-26,0,WD_2.10k,1,2021-12-22,19:00:00,740,2427,NaN,0
262,3729090939,2021-12-22 20:08:00,10,KM4BLG/SWL,35.521,-82.625,EM85qm,KD9ORR,40.479,-85.042,...,-24,0,2.4.0,1,2021-12-22,20:08:00,6900,22632,NaN,8
353,3731368467,2021-12-23 12:38:00,10,W3PM,34.729,-86.792,EM64or,KD9ORR,36.479,-73.042,...,-26,1,WD_2.10k,1,2021-12-23,12:38:00,6900,22632,NaN,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3917,3783680199,2022-01-07 21:40:00,14,VK1FOC/4,-27.104,152.792,QG62jv,KD9ORR,9.896,166.792,...,-19,-2,NaN,1,2022-01-07,21:40:00,1060,3477,NaN,0
3920,3783731326,2022-01-07 22:00:00,14,VK1FOC/4,-27.104,152.792,QG62jv,KD9ORR,9.938,166.708,...,-13,1,NaN,1,2022-01-07,22:00:00,1060,3477,NaN,0
3923,3783777812,2022-01-07 22:20:00,14,VK1FOC/4,-27.104,152.792,QG62jv,KD9ORR,9.938,166.708,...,-22,0,NaN,1,2022-01-07,22:20:00,1000,3280,NaN,0
3926,3783865311,2022-01-07 22:58:00,14,VK1FOC/4,-27.104,152.792,QG62jv,KD9ORR,10.479,166.958,...,-15,-2,NaN,1,2022-01-07,22:58:00,6900,22632,NaN,8
3933,3783953642,2022-01-07 23:40:00,14,VK1FOC/4,-27.104,152.792,QG62jv,KD9ORR,10.063,166.542,...,-21,0,NaN,1,2022-01-07,23:40:00,1060,3477,NaN,0

In [7]:
wspr['alt'] = wspr['power']

In [8]:
wspr.shape

(270, 27)

In [9]:
wspr_0 = wspr[wspr.type == '0']
wspr_0.shape

(143, 27)

In [10]:
wspr_8 = wspr[wspr.type == '8']
wspr_8.shape

(127, 27)

In [11]:
#df.iloc[:,0]  *= -1
wspr_0.loc[:,'alt'] *= 20

/Users/Wied/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [12]:
wspr_0

,id,time,band,rx_sign,rx_lat,rx_lon,rx_loc,tx_sign,tx_lat,tx_lon,...,drift,version,code,date,time.1,power_watts,altitude_m,altitude_ft,type,alt
125,3728945792,2021-12-22 19:00:00,10,KX4O,38.646,-77.792,FM18cp,KD9ORR,41.563,-86.625,...,0,WD_2.10k,1,2021-12-22,19:00:00,740,2427,NaN,0,740
699,3731991944,2021-12-23 16:00:00,10,WD4ELG,36.188,-79.875,FM06be,KD9ORR,36.563,-70.625,...,-1,2.5.0,1,2021-12-23,16:00:00,660,2165,NaN,0,660
1189,3732423551,2021-12-23 19:30:00,10,KD2OM,42.979,-77.458,FN12gx,KD9ORR,37.729,-67.458,...,0,WD_2.10k,1,2021-12-23,19:30:00,660,2165,NaN,0,660
1190,3732425049,2021-12-23 19:50:00,10,N2HQI,43.021,-76.458,FN13sa,KD9ORR,37.854,-67.125,...,0,NaN,1,2021-12-23,19:50:00,540,1771,NaN,0,540
1230,3734562949,2021-12-24 11:40:00,10,WA2TP,40.854,-73.042,FN30lu,KD9ORR,46.021,-40.458,...,0,WD_2.10k,1,2021-12-24,11:40:00,600,1968,NaN,0,600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3914,3783626515,2022-01-07 21:20:00,14,VK1FOC/4,-27.104,152.792,QG62jv,KD9ORR,9.854,166.875,...,-1,NaN,1,2022-01-07,21:20:00,1060,3477,NaN,0,1060
3917,3783680199,2022-01-07 21:40:00,14,VK1FOC/4,-27.104,152.792,QG62jv,KD9ORR,9.896,166.792,...,-2,NaN,1,2022-01-07,21:40:00,1060,3477,NaN,0,1060
3920,3783731326,2022-01-07 22:00:00,14,VK1FOC/4,-27.104,152.792,QG62jv,KD9ORR,9.938,166.708,...,1,NaN,1,2022-01-07,22:00:00,1060,3477,NaN,0,1060
3923,3783777812,2022-01-07 22:20:00,14,VK1FOC/4,-27.104,152.792,QG62jv,KD9ORR,9.938,166.708,...,0,NaN,1,2022-01-07,22:20:00,1000,3280,NaN,0,1000
3933,3783953642,2022-01-07 23:40:00,14,VK1FOC/4,-27.104,152.792,QG62jv,KD9ORR,10.063,166.542,...,0,NaN,1,2022-01-07,23:40:00,1060,3477,NaN,0,1060

In [13]:
wspr_8.loc[:,'alt'] *= 300

/Users/Wied/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [14]:
wspr_8

,id,time,band,rx_sign,rx_lat,rx_lon,rx_loc,tx_sign,tx_lat,tx_lon,...,drift,version,code,date,time.1,power_watts,altitude_m,altitude_ft,type,alt
7,3728850598,2021-12-22 18:18:00,10,W9XA,41.854,-88.292,EN51uu,KD9ORR,41.479,-87.042,...,0,1.3 Kiwi,1,2021-12-22,18:18:00,3000,9840,NaN,8,3000
124,3728941170,2021-12-22 18:58:00,10,WA3TTS,40.563,-80.042,EN90xn,KD9ORR,41.688,-86.792,...,0,2.5.0,1,2021-12-22,18:58:00,5100,16728,NaN,8,5100
262,3729090939,2021-12-22 20:08:00,10,KM4BLG/SWL,35.521,-82.625,EM85qm,KD9ORR,40.479,-85.042,...,0,2.4.0,1,2021-12-22,20:08:00,6900,22632,NaN,8,6900
353,3731368467,2021-12-23 12:38:00,10,W3PM,34.729,-86.792,EM64or,KD9ORR,36.479,-73.042,...,1,WD_2.10k,1,2021-12-23,12:38:00,6900,22632,NaN,8,6900
1273,3734640740,2021-12-24 12:08:00,10,KD2OM,42.979,-77.458,FN12gx,KD9ORR,46.104,-39.875,...,0,WD_2.10k,1,2021-12-24,12:08:00,6900,22632,NaN,8,6900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3883,3780829356,2022-01-07 00:58:00,14,VK1FOC/4,-27.104,152.792,QG62jv,KD9ORR,9.271,169.875,...,-1,NaN,1,2022-01-07,00:58:00,6900,22632,NaN,8,6900
3888,3780937819,2022-01-07 01:58:00,14,AI6VN/KH6,20.979,-156.542,BL10rx,KD9ORR,9.271,169.792,...,3,WD_3.0a,1,2022-01-07,01:58:00,6900,22632,NaN,8,6900
3893,3781008275,2022-01-07 02:38:00,14,AI6VN/KH6,20.979,-156.542,BL10rx,KD9ORR,9.313,169.708,...,-4,WD_3.0a,1,2022-01-07,02:38:00,6900,22632,NaN,8,6900
3906,3781212921,2022-01-07 04:38:00,14,VK1FOC/4,-27.104,152.792,QG62jv,KD9ORR,9.354,169.542,...,-2,NaN,1,2022-01-07,04:38:00,6900,22632,NaN,8,6900
3926,3783865311,2022-01-07 22:58:00,14,VK1FOC/4,-27.104,152.792,QG62jv,KD9ORR,10.479,166.958,...,-2,NaN,1,2022-01-07,22:58:00,6900,22632,NaN,8,6900

In [15]:
frames = [wspr_0, wspr_8]
new_wspr = pd.concat(frames)
new_wspr.shape

(270, 27)

In [16]:
new_wspr.sort_index(inplace=True)
new_wspr

,id,time,band,rx_sign,rx_lat,rx_lon,rx_loc,tx_sign,tx_lat,tx_lon,...,drift,version,code,date,time.1,power_watts,altitude_m,altitude_ft,type,alt
7,3728850598,2021-12-22 18:18:00,10,W9XA,41.854,-88.292,EN51uu,KD9ORR,41.479,-87.042,...,0,1.3 Kiwi,1,2021-12-22,18:18:00,3000,9840,NaN,8,3000
124,3728941170,2021-12-22 18:58:00,10,WA3TTS,40.563,-80.042,EN90xn,KD9ORR,41.688,-86.792,...,0,2.5.0,1,2021-12-22,18:58:00,5100,16728,NaN,8,5100
125,3728945792,2021-12-22 19:00:00,10,KX4O,38.646,-77.792,FM18cp,KD9ORR,41.563,-86.625,...,0,WD_2.10k,1,2021-12-22,19:00:00,740,2427,NaN,0,740
262,3729090939,2021-12-22 20:08:00,10,KM4BLG/SWL,35.521,-82.625,EM85qm,KD9ORR,40.479,-85.042,...,0,2.4.0,1,2021-12-22,20:08:00,6900,22632,NaN,8,6900
353,3731368467,2021-12-23 12:38:00,10,W3PM,34.729,-86.792,EM64or,KD9ORR,36.479,-73.042,...,1,WD_2.10k,1,2021-12-23,12:38:00,6900,22632,NaN,8,6900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3917,3783680199,2022-01-07 21:40:00,14,VK1FOC/4,-27.104,152.792,QG62jv,KD9ORR,9.896,166.792,...,-2,NaN,1,2022-01-07,21:40:00,1060,3477,NaN,0,1060
3920,3783731326,2022-01-07 22:00:00,14,VK1FOC/4,-27.104,152.792,QG62jv,KD9ORR,9.938,166.708,...,1,NaN,1,2022-01-07,22:00:00,1060,3477,NaN,0,1060
3923,3783777812,2022-01-07 22:20:00,14,VK1FOC/4,-27.104,152.792,QG62jv,KD9ORR,9.938,166.708,...,0,NaN,1,2022-01-07,22:20:00,1000,3280,NaN,0,1000
3926,3783865311,2022-01-07 22:58:00,14,VK1FOC/4,-27.104,152.792,QG62jv,KD9ORR,10.479,166.958,...,-2,NaN,1,2022-01-07,22:58:00,6900,22632,NaN,8,6900
3933,3783953642,2022-01-07 23:40:00,14,VK1FOC/4,-27.104,152.792,QG62jv,KD9ORR,10.063,166.542,...,0,NaN,1,2022-01-07,23:40:00,1060,3477,NaN,0,1060

In [18]:
new_wspr.to_csv('new_wspr.csv', index = False)

In [32]:
# I only print for type 0 packets and add the 0 detail to type 8 base. 
with open("new_wspr.csv", "r") as a_file:
  for line in a_file:
    spline = line.split(',')
    #print(spline[26])
    if spline[25] == '8':
      base_altitude = int(spline[26])
    elif spline[25] == '0':
      altitude = base_altitude + int(spline[26])
      print(spline[1], altitude)

2021-12-22 19:00:00 5840
2021-12-23 16:00:00 7560
2021-12-23 19:30:00 7560
2021-12-23 19:50:00 7440
2021-12-24 11:40:00 7500
2021-12-24 12:10:00 7440
2021-12-24 12:30:00 7440
2021-12-24 12:50:00 7500
2021-12-24 13:10:00 7500
2021-12-24 16:00:00 7500
2021-12-24 16:50:00 7500
2021-12-25 10:00:00 7640
2021-12-25 10:20:00 7500
2021-12-25 10:40:00 7560
2021-12-25 11:20:00 7640
2021-12-25 11:40:00 7640
2021-12-25 12:20:00 7560
2021-12-25 12:40:00 7560
2021-12-25 13:20:00 7640
2021-12-25 13:40:00 7640
2021-12-25 14:00:00 7500
2021-12-25 14:20:00 7560
2021-12-25 14:40:00 7560
2021-12-25 15:00:00 7560
2021-12-25 15:30:00 7640
2021-12-25 16:30:00 7760
2021-12-26 07:40:00 7640
2021-12-26 13:30:00 7900
2021-12-26 15:10:00 7840
2021-12-27 06:20:00 7840
2021-12-27 13:10:00 7640
2021-12-28 06:40:00 6900
2021-12-28 07:20:00 6900
2021-12-29 06:20:00 7760
2021-12-29 07:00:00 7760
2021-12-29 09:20:00 7760
2021-12-29 10:40:00 7840
2021-12-29 11:00:00 7840
2021-12-29 11:40:00 7840
2021-12-30 03:40:00 7960
2021-12-30 04:40:00 7840
2021-12-30 07:20:00 7900
2021-12-30 07:40:00 7900
2021-12-30 08:00:00 7900
2021-12-30 08:20:00 7900
2021-12-30 08:40:00 7960
2021-12-30 09:20:00 7960
2021-12-31 03:00:00 8040
2021-12-31 04:00:00 8040
2021-12-31 04:20:00 8040
2021-12-31 04:40:00 8040
2021-12-31 05:40:00 8040
2021-12-31 06:00:00 8040
2021-12-31 07:00:00 8040
2021-12-31 09:10:00 8040
2022-01-01 00:50:00 7960
2022-01-01 02:10:00 7960
2022-01-01 02:30:00 8040
2022-01-01 03:50:00 7960
2022-01-01 04:20:00 7960
2022-01-01 05:10:00 7960
2022-01-01 05:30:00 7960
2022-01-01 06:50:00 8040
2022-01-01 07:10:00 7960
2022-01-01 07:40:00 7960
2022-01-01 23:40:00 7700
2022-01-02 03:40:00 7760
2022-01-02 20:40:00 7760
2022-01-02 22:00:00 7760
2022-01-02 22:20:00 7760
2022-01-02 22:40:00 7760
2022-01-02 23:20:00 7760
2022-01-02 23:40:00 7760
2022-01-03 01:20:00 7840
2022-01-03 02:00:00 7840
2022-01-03 03:50:00 7840
2022-01-03 18:30:00 7900
2022-01-03 18:50:00 7900
2022-01-03 19:00:00 7900
2022-01-03 19:20:00 7840
2022-01-03 20:30:00 7900
2022-01-03 21:10:00 7900
2022-01-03 21:30:00 7900
2022-01-03 21:50:00 7900
2022-01-03 22:10:00 7900
2022-01-03 22:50:00 7900
2022-01-03 23:10:00 7900
2022-01-03 23:30:00 7900
2022-01-03 23:50:00 7900
2022-01-04 00:10:00 7840
2022-01-04 00:50:00 7840
2022-01-04 01:50:00 7900
2022-01-04 02:30:00 7840
2022-01-04 02:40:00 7900
2022-01-04 03:00:00 7840
2022-01-04 03:40:00 7900
2022-01-04 04:00:00 7840
2022-01-04 19:40:00 7840
2022-01-04 20:20:00 7900
2022-01-04 22:10:00 7900
2022-01-04 22:50:00 7900
2022-01-05 00:10:00 7840
2022-01-05 00:30:00 7840
2022-01-05 00:50:00 7840
2022-01-05 01:10:00 7840
2022-01-05 01:30:00 7900
2022-01-05 01:50:00 7840
2022-01-05 02:10:00 7900
2022-01-05 02:50:00 7900
2022-01-05 03:10:00 7840
2022-01-05 03:30:00 7840
2022-01-05 03:50:00 7840
2022-01-05 04:20:00 7900
2022-01-05 21:20:00 7960
2022-01-05 21:40:00 7960
2022-01-05 22:00:00 7960
2022-01-06 00:00:00 7960
2022-01-06 00:40:00 7960
2022-01-06 01:00:00 7960
2022-01-06 01:40:00 7960
2022-01-06 02:40:00 8040
2022-01-06 03:00:00 7960
2022-01-06 03:20:00 7960
2022-01-06 04:00:00 7960
2022-01-06 20:20:00 7960
2022-01-06 21:20:00 7960
2022-01-06 22:00:00 7960
2022-01-06 22:20:00 7960
2022-01-06 22:40:00 7960
2022-01-06 23:00:00 7960
2022-01-06 23:40:00 7960
2022-01-07 00:00:00 7960
2022-01-07 00:40:00 7960
2022-01-07 02:00:00 7960
2022-01-07 02:20:00 7960
2022-01-07 02:40:00 7960
2022-01-07 03:20:00 7960
2022-01-07 03:40:00 7960
2022-01-07 21:20:00 7960
2022-01-07 21:40:00 7960
2022-01-07 22:00:00 7960
2022-01-07 22:20:00 7900
2022-01-07 23:40:00 7960